/* تخصيص الألوان والأسلوب حسب الاحتياجات */

.container {
    padding: 20px;
}

/* تخصيص ألوان شريط التنقل والتذييل */
.navbar {
    background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff;
}

footer {
    color: #ffffff;
}
/* تنسيق عندما تكون الشاشة أصغر من 768 بكسل (للهواتف الذكية) */
@media screen and (max-width: 768px) {
    /* تخصيص الأنماط والأحجام للهواتف الذكية هنا */
    body {
        font-size: 16px;
    }
    /* يمكنك تغيير أحجام الخطوط والهوامش والأبعاد والألوان حسب احتياجاتك */
}

/* تنسيق عندما تكون الشاشة أصغر من 1024 بكسل (للآيباد) */
@media screen and (max-width: 1024px) {
    /* تخصيص الأنماط والأحجام للآيباد هنا */
    body {
        font-size: 18px;
    }
    /* يمكنك تغيير أحجام الخطوط والهوامش والأبعاد والألوان حسب احتياجاتك */
}
/* تعيين لون خلفية مدمج */







